.bg-primary-dark {
  background-color: rgb(171, 239, 95);
}

.bg-primary-light {
  background-color: rgba(171, 239, 95, 0.5);
}
.contact-bg {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
